:root {
	--color-text-dark: hsl(120, 100%, 11.57%);
	--color-text-medium: hsl(127.13, 100%, 28.04%);
	--color-text-light: hsl(135.29, 100%, 50%);

	--color-background: hsl(327.27, 73.33%, 2.94%);

	background-color: var(--color-background);
	color: var(--color-text-light);
}
