:root {
	--color-text-dark: hsl(120, 100%, 11.57%);
	--color-text-medium: hsl(127.13, 100%, 28.04%);
	--color-text-light: hsl(135.29, 100%, 50%);

	--color-background: hsl(327.27, 73.33%, 2.94%);
	--color-popover-background: var(--color-text-dark);

	--color-button-highlight-gradient: linear-gradient(
		to top left,
		var(--color-background) 33%,
		var(--color-popover-background)
	);

	background-color: var(--color-background);
	color: var(--color-text-light);

	*:focus-visible {
		outline: 1px solid var(--color-text-medium);
	}
}

a {
	color: var(--color-text-light);
}
