/* use top level div inside app.html as layout container */

#app {
	height: 100vh;
	display: grid;
	grid-template-areas:
		'header'
		'menu'
		'editor';
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr;
}

@media (min-width: 1024px) {
	#app {
		grid-template-areas:
			'header header'
			'menu preview'
			'editor preview';
		grid-template-columns: 5fr minmax(500px, 3fr);
	}
}
